/* Colors */
$headerColor: #575153;
$headerColor2: #727272;
$textColor: #8e8c8c;
$buttonTextColor: #454647;
$priceColor: #9a9a9a;
$topBarColor: #333333;
$topBarTextColor: #999999;
$bottomBarNavBackgroundColor: #F8F8F8;
$inputBorderColor: #e7e7e7;
$starGold: #ded3aa;

$highlightTextColor: #00c8c8;
$whiteColor: #fff;

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto&amp;subset=latin-ext');

$headerFont: 'Montserrat';
$textFont: 'Roboto';